# Apache Configuration for YN API
<IfModule mod_headers.c>
    Header unset Access-Control-Allow-Origin
    Header unset Access-Control-Allow-Credentials
    Header unset Access-Control-Allow-Methods
    Header unset Access-Control-Allow-Headers
</IfModule>
